input[type="number"] { width: 8em; }

body{
    font-family: 'Noto Sans JP', sans-serif;
}

.tbl-r02 th {
  background: #92C2FF;
  border: solid 1px #ccc;
  color: #fff;
  padding: 10px;
}
.tbl-r02 td {
  border: solid 1px #ccc;
  padding: 10px;
}

code {
  display: inline-block;
  padding: 0.5em 0.5em; /* 文字周りの余白 */
  color: #444; /* 文字色 */
  background-color: #e7edf3; /* 背景色 */
  border-radius: 3px; /* 角丸 */
  border: solid 1px #d6dde4; /* 枠線 */
}
