@media screen and (max-width:480px){
    /*画面幅が480pxまでの時*/

    main {
        width: 100%;
    }

    table {
        margin: auto;
    }
    
    .last td:last-child {
        border-bottom: solid 1px #ccc;
        width: 100%;
    }

    .tbl-r02 {
        width: 90%;
    }

    .tbl-r02 th,
    .tbl-r02 td {
        border-bottom: none;
        display: block;
        width: 100%;
    }

    input[type="button"] {
        font-size: 1.5em;
    }
}
